/* google font - poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* common style or utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
p {
  font-size: 16px;
}

/* featured part or the first section part start */
.first-container {
  background-color: #341f97;
  margin-bottom: 70px;
  padding-top: 153px;
  padding-bottom: 86px;
}
.featured-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
}
.half-width {
  width: 50%;
}
.half-width h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: white;
  margin-bottom: 27px;
}
.watch-live {
  padding: 10px 24px;
  color: white;
  background-color: #e02c6d;
}
.watch-live:hover {
  border: 1px solid white;
  background-color: #2d3436;
  padding: 24px 30px;
}

.watch-live i {
  margin-left: 12px;
}
.half-width img {
  width: 100%;
}
.banner-img {
  width: 556px;
  height: 438px;
}
.banner-img:hover {
  transform: scale(1.2);
  transition: transform 1s ease-in-out;
}
/* featured part or the first section part end */

/* all players styles start */
main {
  display: flex;
  justify-content: center;
}
.all-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
  grid-column-gap: 30px;
  background-color: #ffffff;
}
.player {
  height: 474px;
  width: 330px;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img {
  height: 256px;
  width: 300px;
}
/* all players styles end */

/* bonus section- Top Products start */
.product-container {
  margin-top: 120px;
}
.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  font-size: 23px;
  font-weight: 400;
}
.section-title span {
  font-size: 30px;
  color: #ff6b6b;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 20px;
}
.product {
  height: 390px;
  width: 300px;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.product:hover {
  transform: scale(1.2);
  transition: transform 1s ease-in-out;
}
.product-img {
  height: 256px;
  width: 270px;
}
/* bonus section- Top Products end */

/* bonus section- Academy facilities start*/
.academy-container {
  margin-top: 120px;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 32px;
}
.blogs .blog img {
  height: 117px;
  width: 177px;
  border-radius: 5px;
}
.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 15px;
  width: 600px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.blog:hover {
  transform: scale(1.1);
  transition: transform 1s ease-in-out;
}
.blog-info {
  margin-left: 16px;
}
/* bonus section- Academy facilities end*/

/* footer style start */
.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 166px;
  margin-bottom: 50px;
}
.social-icon .circle {
  background-color: #dfe6e9;
  padding: 10px;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 20px;
}
.social-icon .circle:hover {
  color: #74b9ff;
  cursor: pointer;
}
/* footer style end */

/*------------------------- Media Queries start ---------------------------*/

/* Media Queries for Mobile devices start*/

@media screen and (max-width: 480px) {
  .featured-info {
    flex-direction: column;
  }
  .half-width {
    width: 50%;
  }
  .banner-text {
    width: 180px;
  }
  .half-width img {
    width: 50%;
    margin-top: 50px;
  }
  .half-width h1 {
    font-size: 20px;
  }
  .all-players,
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
  .product {
    margin-left: 30px;
  }
  .section-title {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .academy-container {
    width: 100%;
    text-align: center;
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog {
    width: 92%;
    flex-direction: column;
  }
  .footer-info {
    flex-direction: column;
  }
  .footer-info img {
    width: 60%;
  }
}
/* Media Queries for Mobile devices end*/

/* Media Queries for Tablet devices start */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* .featured-info */
  .featured-info {
    display: flex;
    flex-direction: row;
  }
  .half-width {
    width: 50%;
  }
  .half-width img {
    width: 90%;
  }

  .half-width h1 {
    font-size: 20px;
  }
  .all-players,
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .product {
    margin-left: 60px;
  }
  .section-title {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .academy-container {
    width: 100%;
    text-align: center;
  }
  .blogs {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog {
    width: 92%;
    flex-direction: column;
  }
  .footer-info {
    flex-direction: column;
  }
  .footer-info img {
    width: 60%;
  }
}
/* Media Queries for Tablet devices end */
