/* google font - poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* common style or utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
p {
  font-size: 16px;
}
main {
  display: flex;
  justify-content: center;
}

/* featured part or the first section part */
.container {
  background-color: #341f97;
}
.featured-info {
  display: flex;
}
.half-width {
  width: 50%;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.half-width h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: white;
}
.half-width img {
  width: 80%;
}
.watch-live {
  padding: 10px 24px;
  color: white;
  background-color: #e02c6d;
}
.banner-img {
  width: 556px;
  height: 438px;
}

/* all players styles */
.all-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
  grid-column-gap: 30px;
  background-color: #ffffff;
}
.player {
  height: 474px;
  width: 330px;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img {
  height: 256px;
  width: 300px;
}
/* bonus section- Top Products */
.product-container {
  margin-top: 120px;
}
.product-area-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  font-size: 23px;
  font-weight: 400;
}
.product-area-title span {
  font-size: 30px;
  color: #ff6b6b;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 20px;
}
.product {
  height: 390px;
  width: 300px;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.product-img {
  height: 256px;
  width: 270px;
}

/* footer style */
.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 166px;
}
.social-icon .circle {
  background-color: #dfe6e9;
  padding: 10px;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 20px;
}
.social-icon .circle:hover {
  color: #74b9ff;
}
